@import url('https://fonts.googleapis.com/css2?');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
    min-height: 100vh;
    background: #365fa1;
}

.navigation 
{
    position: fixed;
    inset: 20px;
    background: linear-gradient(-80deg, green, red, blue);
    width: 80px;
    border-left: 10px solid #365fa1;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgb(0, 0, 0, 0.05);
    transition: 0.5s;
}

/* background: #287bff; */

.navigation.active
{
    width: 300px;
    border-radius: 20px;
}

.toggle
{
    position: absolute;
    bottom: 15px;
    right: 11px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle::before
{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(-5px);
    transition: 1s;

}
.toggle::after
{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(5px);
    transition: 1s;

}
.navigation.active .toggle::before
{
    transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after
{
    transform: translateY(0px) rotate(405deg);
}

.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* background: #fff; */
}

.navigation ul li:hover
{
    background: #fff; 
}


.navigation ul li:nth-child(1)
{
 top: 20px;
 margin-bottom: 40px;
 background: none;
}

.navigation ul li:rot(:first-child):hover::before
{
    content: '';
    position: absolute;
    width: 20px;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display:flex;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    
}

.navigation ul li:hover:not(:first-child) a
{
    color: #142744;
    transition: 0.5s;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.76em;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap; 
    
}